<section class="flex flex-col gap-6">
  <div class="flex flex-col gap-4 sm:flex-row items-center justify-between">
    <h1 class="text-xl">Cards Collection</h1>
    <button class="purple" (click)="toggleSortOrder()">
      {{ sortOrder === "desc" ? "Rarity Descending " : "Rarity Ascending " }}
    </button>
  </div>

  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 gap-4"
  >
    @for (card of cards; track card.id) {
    <div
      class="flex flex-col justify-between items-start w-[176px] h-[192px] bg-cover bg-center bg-no-repeat hover:scale-110 transition-transform duration-200"
      [style.backgroundImage]="'url(' + card.iconUrls.medium + ')'"
    >
      <span
        class="w-[45px] h-[52px] bg-elixir bg-cover bg-center flex justify-center items-center text-white text-xl"
        >{{ card.elixirCost }}</span
      >
      <h2
        class="text-center text-white w-full"
        [style.background]="getRarityColor(card.rarity)"
      >
        {{ card.name }}
      </h2>
    </div>
    }
  </div>
</section>
