@if (loading) {
<app-loading></app-loading>
} @else {
<section class="overflow-x-clip">
  <div
    class="flex flex-row lg:w-max lg:!p-4 items-center md:justify-center gap-4"
  >
    <span
      class="p-6 text-2xl text-white text-stroke bg-center bg-exp bg-contain bg-no-repeat"
    >
      {{ player?.expLevel }}
    </span>
    <div class="space-y-2 text-start">
      <h1>{{ player?.name }}</h1>
      <h2>{{ player?.tag }}</h2>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4">
    <span class="card flex justify-center">
      <a
        [routerLink]="player?.clan ? '/clans/' + player?.clan?.tag : '/clans'"
        class="flex items-center gap-1"
      >
        <img
          src="https://royaleapi.github.io/cr-api-assets/badges/{{
            getBadgeName(player?.clan?.badgeId)
          }}.png"
          alt="{{ getBadgeName(player?.clan?.badgeId) }} badge image"
          class="w-8 h-8 object-contain"
        />
        <p class="pl-1">{{ player?.clan?.name || "No clan" }}</p>
      </a>
    </span>
    <span class="card flex justify-center">
      <i-lucide [img]="TrophyIcon" name="score" class="icon"></i-lucide>
      {{ player?.trophies }}
    </span>
    <span class="card flex justify-center">
      <i-lucide [img]="SwordsIcon" name="battle-count" class="icon"></i-lucide>
      {{ player?.battleCount }}
    </span>
    <span class="card flex justify-center">
      <i-lucide
        [img]="ArrowUpDownIcon"
        name="wins/losses"
        class="icon"
      ></i-lucide>
      {{ player?.wins }}/{{ player?.losses }}
    </span>
  </div>
</section>
<section>
  <h2>Current Deck</h2>
  <div class="grid grid-cols-4 xl:grid-cols-8 gap-4">
    @for(card of player?.currentDeck; track card.id) {
    <img
      src="{{ card.iconUrls.medium }}"
      alt="{{ card.name }} image"
      class="object-cover w-32 lg:w-48 xl:w-52 h-32 lg:h-48 xl:h-52"
    />
    }
  </div>
</section>
<section>
  <h2>Upcoming Chests</h2>
  <div class="grid grid-cols-2 xl:grid-cols-5 gap-4">
    @for (chest of upcomingChests; track chest.index ) {
    <div class="card flex flex-col items-center gap-2">
      <img
        src="https://royaleapi.github.io/cr-api-assets/chests/{{
          formatChestName(chest.name)
        }}.png"
        class="w-32 h-32 object-cover"
        alt="chest {{ chest.name }} image"
      />
      <p>+{{ chest.index + 1 }} Wins</p>
    </div>
    }
  </div>
</section>
<section>
  <h2>Battle Logs</h2>
  @for(battle of battleLogs; track battle.battleTime) {
  <div class="card flex flex-col gap-4">
    <div class="flex flex-col items-center justify-center gap-4">
      @if(battle.team[0].crowns > battle.opponent[0].crowns) {
      <p class="text-green">Battle Win</p>
      } @else {
      <p class="text-red">Battle Loss</p>
      }
      <div class="flex items-center gap-2 lg:gap-4">
        <img
          src="/assets/imgs/crown-blue.webp"
          class="w-8 h-6 lg:w-14 lg:h-12 object-cover"
          alt="blue crown image"
        />
        <p>{{ battle.team[0].crowns }} - {{ battle.opponent[0].crowns }}</p>
        <img
          src="/assets/imgs/crown-red.webp"
          class="w-8 h-6 lg:w-14 lg:h-12 object-cover"
          alt="red crown image"
        />
      </div>
    </div>
    <div
      class="flex lg:items-center flex-col gap-6 lg:flex-row lg:justify-between"
    >
      @for(teamPlayer of battle.team; track teamPlayer.tag) {
      <div class="flex flex-col gap-2 items-center md:items-start">
        <a routerLink="/players/{{ teamPlayer.tag }}">
          {{ teamPlayer.name }}
        </a>
        <a
          [routerLink]="player?.clan ? '/clans/' + player?.clan?.tag : '/clans'"
          class="flex items-center"
        >
          <img
            src="https://royaleapi.github.io/cr-api-assets/badges/{{
              getBadgeName(player?.clan?.badgeId)
            }}.png"
            alt="{{ getBadgeName(player?.clan?.badgeId) }} badge image"
            class="w-8 h-8 object-contain"
          />
          <p class="pl-1">{{ player?.clan?.name || "No clan" }}</p>
        </a>
        <p>
          #{{ teamPlayer.globalRank }}
          {{
            teamPlayer.trophyChange > 0
              ? "+" + teamPlayer.trophyChange
              : teamPlayer.trophyChange
          }}
        </p>
        <span class="flex justify-center">
          <i-lucide
            [img]="DropletIcon"
            name="leaked-elixir"
            class="icon-purple"
          ></i-lucide>
          Leaked: {{ teamPlayer.elixirLeaked }}
        </span>
        <div class="grid grid-cols-4 justify-between w-full">
          @for (card of teamPlayer.cards; track card.id) {
          <img
            src="{{ card.iconUrls.medium }}"
            alt="{{ card.name }} image"
            class="object-contain w-32 h-32 lg:w-44 lg:h-44 xl:w-52 xl:h-52"
          />
          }
        </div>
      </div>
      } @for(opponent of battle.opponent; track opponent.tag) {
      <div class="flex flex-col gap-2 items-center md:items-start lg:items-end">
        <a routerLink="/players/{{ opponent.tag }}">{{ opponent.name }}</a>
        <a
          [routerLink]="
            opponent.clan ? '/clans/' + opponent.clan.tag : '/clans'
          "
          class="flex items-center"
        >
          <img
            src="https://royaleapi.github.io/cr-api-assets/badges/{{
              getBadgeName(opponent.clan?.badgeId)
            }}.png"
            alt="{{ getBadgeName(opponent.clan?.badgeId) }} badge image"
            class="w-8 h-8 object-contain"
          />
          <p class="pl-1">{{ opponent.clan?.name || "No clan" }}</p>
        </a>
        <p>
          #{{ opponent.globalRank }}
          {{
            opponent.trophyChange > 0
              ? "+" + opponent.trophyChange
              : opponent.trophyChange
          }}
        </p>
        <span class="flex justify-center">
          <i-lucide
            [img]="DropletIcon"
            name="leaked-elixir"
            class="icon-purple"
          ></i-lucide>
          Leaked: {{ opponent.elixirLeaked }}
        </span>
        <div class="grid grid-cols-4 justify-between w-full">
          @for (card of opponent.cards; track card.id) {
          <img
            src="{{ card.iconUrls.medium }}"
            alt="{{ card.name }} image"
            class="object-contain w-32 h-32 lg:w-44 lg:h-44 xl:w-52 xl:h-52"
          />
          }
        </div>
      </div>
      }
    </div>
  </div>
  }
</section>
<section>
  <details>
    <summary>Owned Badges</summary>
    <div
      class="grid grid-cols-4 sm:grid-cols-6 lg:grid-cols-8 xl:grid-cols-10 gap-2"
    >
      @for (badge of player?.badges; track badge.name ) {
      <abbr title="{{ formatBadgeName(badge.name) }}">
        <img
          src="{{ badge.iconUrls.large }}"
          alt="image of {{ badge.name }} badge"
          class="w-24 h-24 lg:h-32 lg:w-32 xl:h-44 xl:w-4h-44 object-cover"
          onerror="this.parentNode.removeChild(this);"
        />
      </abbr>
      }
    </div>
  </details>
</section>
}
