<header
  class="flex flex-col sm:flex-row items-start gap-4 sm:items-center justify-between px-4 sm:px-10 lg:px-12 2xl:px-20 py-6 text-dark/60"
>
  <nav class="text-center sm:text-start w-full">
    <a class="text-lg lg:text-xl 2xl:text-2xl text-dark" routerLink="/">
      Royale Hub
    </a>
  </nav>
  <nav [style]="{}" class="flex flex-col sm:flex-row gap-4">
    <a routerLink="/cards" routerLinkActive="text-[#1E1E1E]">Cards</a>
    <a routerLink="/clans" routerLinkActive="text-[#1E1E1E]">Clans</a>
    <a routerLink="/players" routerLinkActive="text-[#1E1E1E]">Players</a>
  </nav>
</header>

<main class="px-4 sm:px-10 lg:px-12 2xl:px-20 mt-6 text-dark">
  <router-outlet></router-outlet>
</main>
