@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Supercell-Magic";
  src: url("assets/fonts/You\ Blockhead.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Supercell-Magic";
}

button {
  @apply border-4 border-b-8 rounded-xl p-2 hover:scale-110 transition-transform duration-75 text-white text-stroke;
}

button:active {
  @apply scale-110 duration-150;
}

section {
  @apply flex flex-col gap-6 mt-12;
}

section h1 {
  @apply text-xl;
}

span {
  @apply flex items-center gap-1;
}

.icon {
  @apply stroke-blue stroke-[3px];
}
.green {
  @apply border-greenDark bg-green;
}

.blue {
  @apply border-blueDark bg-blue;
}

.purple {
  @apply border-purpleDark bg-purple;
}

.text-stroke {
  -webkit-text-stroke: 1.5px #1e1e1e;
}
