@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Supercell-Magic";
  src: url("assets/fonts/You\ Blockhead.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Supercell-Magic";
}
