<section
  class="flex flex-col gap-12 lg:flex-row lg:items-center justify-between"
>
  <div class="flex flex-col items-center lg:items-start gap-4">
    <h1 class="text-xl lg:text-2xl 2xl:text-3xl">
      O Portal Definitivo do Clash Royale
    </h1>
    <p class="max-w-prose leading-relaxed">
      Pesquise e filtre cartas para construir o deck perfeito, obtenha
      informações detalhadas sobre qualquer clã ou jogador e mantenha-se à
      frente da competição com estatísticas de torneios atualizadas e
      classificações que elevam seu jogo ao próximo nível.
    </p>

    <div class="space-x-4">
      <a routerLink="/cards">
        <button class="green">Explorar</button>
      </a>
      <a
        href="https://github.com/joaonative/royale-hub"
        rel="noopener noreferrer"
        target="_blank"
      >
        <button class="blue">Ver Github</button>
      </a>
    </div>
  </div>
  <img src="assets/imgs/hero.png" alt="" />
</section>
