<section
  class="flex flex-col gap-12 lg:flex-row lg:items-center justify-between"
>
  <div class="flex flex-col items-center lg:items-start gap-4">
    <h1 class="text-xl lg:text-2xl 2xl:text-3xl">
      The Ultimate Clash Royale Hub
    </h1>
    <p class="max-w-prose leading-relaxed">
      Get detailed information on any clan or player, and stay ahead of the
      competition with up-to-date stats. Elevate your game to the next level.
    </p>

    <div class="space-x-4">
      <a href="/cards">
        <button class="green">Explore Now</button>
      </a>
      <a
        href="https://github.com/joaonative/royale-hub"
        rel="noopener noreferrer"
        target="_blank"
      >
        <button class="blue">View Github</button>
      </a>
    </div>
  </div>
  <img src="assets/imgs/hero.png" alt="" />
</section>
